@import '_variables';

#app {
    .btn {
        border-radius: 3px;
        cursor: pointer;

        &.outline {
            background: transparent;
            border: 1px solid gray;
        }

        &.btn-primary {
            background-color: $seawave;
            border-color: $seawave;
            color: white;
        }

        &.disabled {
            background-color: lightgray;
            color: silver;
        }
    }
}
