@media (max-width: 475px) {
    .p1 {
        font-size: 0.875rem;
    }
    .p2 {
        font-size: 0.75rem;
    }
    .p3 {
        font-size: 0.625rem;
    }
    h1, .h1 {
        font-size: 1.5625rem;
    }
    h2, .h2 {
        font-size: 1.375rem;
    }
    h3, .h3 {
        font-size: 1.25rem;
    }
}
