// Colors
$seawave: #1ab394;
$darkblue: #1c84c6;
$sidebar-active-bg: #293846;
$sidebar: #2f4050;
$footer: #333;
$dark: #676a6c;
$sidebar-inactive: #a7b1c2;
$light: #e7eaec;
$lightwhite: #f3f3f3;

// Screen size
$max-device-sm: 575.98px;
$max-device-md: 767.98px;
$max-device-lg: 991.98px;
$max-device-xl: 1199.98px;
$max-device-xxl: 1440.98px;

$min-device-sm: 576px;
$min-device-lg: 768px;
$min-device-xl: 992px;
$min-device-xxl: 1200px;
